h1.a{
    text-align: center;
}
body{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    /*background-image: url("../html/backgroundGameline.png");*/
    color: white;
    

}