h1{
    color: rgb(223, 195, 41);
    text-align: center;
}
body{
    color:black;
    font-size:large;
}
table, th, td{
    border: 1px solid rgb(223, 195, 41);
    border-collapse: collapse;
    width: 60%;
    text-align: center;
}
th.a{
    background-color: rgb(223, 195, 41);
}
#a{
    width: 30%;
    float: right;
}
#linkA:visited{
    color:green;
}
#linkA:link{
    color: hotpink;
}
div.divOne{
    background-color: grey;
    width: 250px;
}
div.main-div{
    padding: 3em;     
    float: right;    
    width: 50%;    
    box-sizing: border-box; 
}
div.rigthside{
    min-height: 30em;
    float: right;
}
div.leftside{
    float: left;
}
