html{
    background-image: url("../html/backgroundGameline.png");
    background-position: center;
}
h1{
    color: red;
    text-align: center;
}
body{
    color:white;
    font-size:large;
}
table, th, td{
    border: 1px solid red;
    border-collapse: collapse;
}
img.a{
    position: relative;
    
}