html{
    background-image: url("../html/backgroundGameline.png");
    background-position: center;
}
h1{
    color: rgb(231, 69, 69);
    text-align: center;
}
body{
    color:white;
    font-size:large;
}
table, th, td{
    border: 1px solid rgb(231, 102, 102);
    border-collapse: collapse;
    width: 35%;
    text-align: center;
}
th.a{
    background-color: rgb(231, 102, 102);
}
#a{
    width: 30%;
    float: right;
}