th{
    text-align: center;    
}
td.column{
    width: 50%;
}
div.Picture-position{
    padding: 4em;           
    float: left; 
    width: 50%;    
    box-sizing: border-box;             
}
div.carousel-position{
    min-height: 30em;
}
div.textBox{
    float: left; 
    width: 50%;
    box-sizing: border-box;
}
body{
    font-size: 14px;
}

