
.bd-placeholder-img {
font-size: 1.125rem;
text-anchor: middle;
-webkit-user-select: none;
-moz-user-select: none;
user-select: none;
}

@media (min-width: 768px) {
    .bd-placeholder-img-lg {
        font-size: 3.5rem;
    }
}

.a{
    //background-image: url();
}
body{
    /*:#eee;*/

    /*background-image: url("../GameLine/Images/Fastweiß.jpg");*/

    font-size: 14px;
    height: 100%;
    background: radial-gradient(rgb(211, 212, 193),rgb(230, 230, 180));
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
    