html{
    background-image: url("backgroundGameline.png");
}

h1.a{
    color: red;
    text-align: center;
}
a.indexA{
    background-color:black;
    size: 30px;
}
a.indexA:visited{
    color:green;
}
a.indexA:link{
    color:hotpink;
}





