

th{
    text-align: center;    
}
td.column{
    width: 50%;
}
div.Picture-position{
    padding: 4em;           
    float: left; 
    width: 50%;    
    box-sizing: border-box;             
}
div.carousel-position{
    min-height: 30em;
}
div.textBox{
    float: left; 
    width: 50%;
    box-sizing: border-box;
}
body{
    /*:#eee;*/

    /*background-image: url("../GameLine/Images/Fastweiß.jpg");*/

    font-size: 14px;
    height: 100%;
     background: radial-gradient(rgb(230, 231, 224),rgb(215, 215, 191));
     background-size: cover;
     background-repeat: no-repeat;
     background-attachment: fixed;
}

th{
    text-align: center;    
}
td.column{
    width: 50%;
}
div.Picture-position{
    padding: 4em;           
    float: left; 
    width: 50%;    
    box-sizing: border-box;             
}
div.carousel-position{
    min-height: 30em;
}
div.textBox{
    float: left; 
    width: 50%;
    box-sizing: border-box;
}
body{
    font-size: 14px;
}

